body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #202b79;
}
img {
	max-width: 100%;
}
header {
  overflow: hidden;
}
header img {
  margin-left: 50%;
  transform: translateX(-50%);
}
a {
  text-decoration: none;
  color:inherit;
}
ul {
  list-style-type: none;
  width: 200px;
  margin: auto;
  padding: 0;
}
li {
  background-color: rgba(	218, 50, 72,0.90);
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  margin: 5px;
  color: white;
}
li:hover{
  background-color: rgba(	218, 50, 72,1);
}

#ProfileImageWatermarker {
  text-align: center;
  width: 750px;
  margin: auto;
}
#downloadButtonContainer{
  display: flex;
  flex-wrap: wrap;
}
.actionButton {
  background-color: rgba(	218, 50, 72,0.90);
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
  height: 50px;
  width: 175px;
  color: white;
}
.actionButton:hover{
  cursor: pointer;
  background-color: rgba(	218, 50, 72,1);
}
#headerContainer, #imageContainer{
  background-color: white;
  width: 100%;
  display: flex;
}
.headerLeft, .headerRight{
  border: 2px solid #ccc;
  width: 59%;
  margin: 5px auto;
  padding: 5px 0px;
  border-radius: 10px;
}
.headerRight{
  width: 39%;
}

.cropBox{
  width: 59%;
  margin: 0px auto;
}
.cropBoxHide{
  position: absolute;
  top: -1000px;
}
#cropPreview, .cropper-modal, .cropper-bg{
  border-radius: 10px;
}
.previewBox{
  width: 39%;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
}
#cropWatermark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  cursor: move;
}
#cropPreview, #resultImage{
  max-width: 100%;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 50%;
}
#watermarkOptions{
  width: 100%;
  display: flex;
  margin-top: -20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.watermarkOption{
  height: 60px;
  margin: 3px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}
.watermarkOption:hover{
  background-color: rgba(	218, 50, 72,1);
}
.selectedWatermark{
  background-color: rgba(	218, 50, 72,.75);
}

#transparencySlider, #watermarkSizeSlider {
  width: 90%;
  margin: 5px auto;
}
.optionInfoText{
  margin-top: 0px;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.90;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #da3248;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: yellow;
  cursor: pointer;
}
.navContainer{
  display: flex;
  justify-content: center;
  width: 100%;
}
.navButton {
  background-color: rgba(	218, 50, 72,0.90);
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 100px;
  margin: 5px 15px;
  color: white;
}
.navButton:hover{
  cursor: pointer;
  background-color: rgba(	218, 50, 72,1);
}

@media only screen and (max-width: 750px) {
  #ProfileImageWatermarker {
    width: 100vw;
  }
}
